#container {
    display: flex;
    flex-wrap: wrap;
    width: 400px; 
    margin: 20px auto;
  }


.square {
    width: 90px;
    height: 90px;
    margin: 5px;
    background-color: lightblue;
    border: 1px solid #333;
    box-sizing: border-box;
    text-align: center;
    line-height: 90px; /* centers text vertically */
    font-family: sans-serif;
    font-weight: bold;
  }
  .square.hovered{
    background-color: black;
  }